<h1><%=@party.name%> Detail Page</h1>
<div>Location: <%= @party.location%></div>
<div>Date: <%= @party.date.strftime("%B %d, %Y")%><br>


<div>Promoter: <%= @party.promoter.name%><br>

<div>Reviews: <%= @party.review_title %><br>

<%= link_to "Add Party to Party List", new_party_path %>

