<h1><%=@party.name%> Detail Page</h1>
<div><strong>Location: </strong><%= @party.location%></div>
<div><strong>Date:</strong> <%= @party.date.strftime("%B %d, %Y")%><br>


<div><strong>Promoter: </strong> <%= link_to @party.promoter.name, promoter_path(@party.promoter)%><br>
<div><strong>DJ: </strong> <%= link_to @party.dj.name, dj_path(@party.dj)%>
<div><strong>Reviews:</strong> </div> 
    <ul>
        <% @party.reviews.each do|review| %>

        <li><%= review.title %></li>
        <%= review.content%> 
         <div>Rating: <%=review.rating%></div>



        <%end%>
    </ul>

<%=link_to "Review This Party", new_party_review_path(@party.id)%><br>

 <%= button_to "Add Party to Party List", attend_party_path(@party.id) %>
 <%= link_to "Back to Parties", parties_path%>

