<h1>All of Your Parties</h1>

<% if @party_goer.parties %>
<% @party_goer.parties.each do |party|%>
<%= link_to party.name, party_path(@party_goer.party_ids) %><br>

<% party.reviews.each do |review| %><br>
<%= review.title %>
<%= review.content%>

<%= button_to "Edit This Review", edit_party_review_path(party.id, review.id)%>
<%= button_to "Delete This Review", party_review_path(party.id, review.id), :method => :delete%>
<%end %>
<% end %>
<%end%>
