<h3><%=@dj.name%>'s Detail Page</h3>

<div><strong>Name: </strong><%= @dj.name %></div>
<div><strong>Genre: </strong><%= @dj.genre%></div>
<div><strong>Tagline: </strong> <em>"<%= @dj.tagline%>"</em></div>

<div><strong>DJ Parties: </strong></div>
 <% @dj.parties.each do |party|%>
<li><%= link_to party.name, party_path(party.id)%></li>
<% end %>


