<h3><%=@dj.name%>'s Detail Page</h3>

<div>Name: <%= @dj.name %></div>
<div>Genre: <%= @dj.genre%></div>
<div>Tagline: <em>"<%= @dj.tagline%>"</em></div>

<div>DJ Parties: <%= link_to @dj.dj_party, party_path(@dj.party_ids)%></div>
