<!DOCTYPE html>
<html>
  <head>
    <title>TheWeekendProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% unless controller_name == "sessions" && action_name == "new" %>

    <nav class="navbar is-success">
    


      <% if session[:user_id] %>

        <div>Welcome <%= current_user.username %></div>
          <div class="navbar-end">
          <%= link_to "Log out", logout_path, class: "navbar-item" %>
          </div>
        
      <% else %>
    
        <div class="navbar-end">
          <%= link_to "Log In", login_path, class: "navbar-item"%>
        </div>
      <% end %>
       
    </nav>
     <% end %>

    <%= yield %>

  </body>
</html>
