<!DOCTYPE html>
<html>
  <head>
    <title>TheWeekendProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% unless controller_name == "sessions" && action_name == "new" %>

      <% if session[:user_id] %>

          <div>Welcome <%= current_user.username %></div>
          <%= link_to "Log out", logout_path %>

      <% else %>

          <%= link_to "Log In", login_path %>

      <% end %>
    <% end %>

    <%= yield %>

    
  </body>
</html>
